/**

Description: Basic bunctions for Elements are in globals.less. All specific modul-CSS is located in separate less files.

CSS Guidlines:

///////////////////////////////////////

Mixins: Are written with a bold character at the beginning: e.q. .FirstMixin

Variables:  Are written with a bold character at the beginning: e.q. @FirstVariable

Only use classes, no id's.

/////////////////////////////////////

**/

/*------------------------------------*\
    Resets: See also bootstrap/scaffolding.less
\*------------------------------------*/

// Get right box-modell

* {
    .box-sizing(border-box);
}
*:before,
*:after {
    .box-sizing(border-box);
}

th {
    font-weight: normal;
}


dd {
    margin-left: 0px;
}

dl {
    margin: 0 0 @Margin 0;    
}

/*------------------------------------*\
    Basic Styles
\*------------------------------------*/


body {
    .Font1Regular;
    .backgroundColorWhite;
    font-size: @FontSize;
    line-height: 18px;
    color: @TextColor1;
}

.inner {
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}
.block {
    display: inline-block;
    float: left;
    width: 100%;
}

/*------------------------------------*\
    group
\*------------------------------------*/

.group {
    border: 1px solid silver;
    border-radius: 4px;
    padding-left: @Padding/2;
    padding-right: @Padding/2;
    padding-top: 46px;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: @Margin;
}
.groupName {
    position: absolute;
    left: 0px;
    top: 0px;
    //background-color: black;
    padding: 6px;
    //color: white;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    line-height: 18px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(193,193,193,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(193,193,193,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(193,193,193,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(193,193,193,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(193,193,193,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(193,193,193,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6c1c1c1',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
}

/*------------------------------------*\
    aligns
\*------------------------------------*/

.alignRight {
    float: right;
    margin-left: @Margin/2;
    margin-bottom: @Margin/2;
}
.alignLeft {
    float: left;
    margin-right: @Margin/2;
    margin-bottom: @Margin/2;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

/*------------------------------------*\
    basic structure stylings
\*------------------------------------*/

.mod {
    margin: 0;
    padding: 0;
}

/*------------------------------------*\
    Areas
\*------------------------------------*/

.area {
    width: 100%;
    background-color: @Color3;
    padding: @Padding/2;
    margin-bottom: @Margin;
}
