/*------------------------------------*\
    Variables
\*------------------------------------*/
/*------------------------------------*\
    Mixins
\*------------------------------------*/
body {
  background-color: white;
}
.chapter {
  margin-bottom: 60px;
  width: 100%;
  display: inline-block;
  position: relative;
  float: left;
}
.chapterHeadline {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 60px;
  float: left;
  display: inline-block;
}
.content {
  width: 100%;
  display: inline-block;
  position: relative;
  float: left;
  margin-bottom: 30px;
}
.colorBox {
  padding: 60px;
  color: white;
  margin-bottom: 30px;
}
.staticNavigation .area {
  margin-bottom: 30px;
  background-color: transparent;
}
.staticNavigation .area h2 {
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #dedede;
  float: left;
  width: 100%;
  margin-bottom: 0px;
}
.staticNavigation .area .navigationContent {
  padding: 30px;
  background-color: #f5f5f1;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  float: left;
  width: 100%;
}
.staticNavigation .area .navigationContent a {
  text-decoration: none;
}
.staticNavigation .area .navigationContent a:hover {
  text-decoration: underline;
}
.backgroundColor1 {
  background-color: #45b91c;
}
.backgroundColor2 {
  background-color: #d24335;
}
.backgroundColor3 {
  background-color: #dedede;
}
.backgroundColor4 {
  background-color: #555555;
}
.backgroundColor5 {
  background-color: #d24335;
}
.backgroundColor6 {
  background-color: #555555;
}
.backgroundColor8 {
  background-color: #aaaaaa;
}
.backgroundColor9 {
  background-color: #d0d0d0;
}
.h5.chapterHeadline,
h5.chapterHeadline {
  color: #d24335;
  font-size: 1.6rem;
}
.h4.chapterHeadline,
h4.chapterHeadline {
  color: #45b91c;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 2.0rem;
}
.h3.chapterHeadline,
h3.chapterHeadline {
  border-bottom: 1px solid #dedede;
  font-size: 2.4rem;
  margin-bottom: 45px;
  margin-top: 45px;
}
.h1.chapterHeadline,
h1.chapterHeadline {
  font-size: 3.2rem;
  margin-bottom: 30px;
  margin-top: 60px;
}
.styleguideDescription {
  margin-bottom: 60px;
}
.fullBg {
  background-color: #f5f5f1;
  margin-bottom: 60px;
  border-bottom: 1px solid #dedede;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.footerContent {
  padding-top: 30px;
  padding-bottom: 30px;
}
